body {
  margin  : 0;
  padding : 0;
  overflow: hidden;
}

* {
  font-family               : "RobotoFlex";
  font-size                 : 16px;
  font-variation-settings   : "wght"400.318, "wdth"100, "opsz"13.8728, "GRAD"-156.25, "slnt"0, "XTRA"468, "XOPQ"123.2, "YOPQ"125.75, "YTLC"501.4, "YTUC"626.6, "YTAS"649, "YTDE"-207.146, "YTFI"738;
  /* line-height            : 112.14%; */
  color                     : rgb(50, 50, 50);

}

#debugCanvas {
  /* z-index: -1; */
  position        : fixed;
  top             : 0;
  left            : 0;
  transform-origin: top left;
  transform       : scale(0.9);
  pointer-events  : none;
}

#agent-inspector {
  z-index : 1000;
  position: fixed;
  bottom  : 1%;
  right   : 1%;
  height  : 22%;
  width   : 98%;

  backdrop-filter   : blur(10px);
  /* box-shadow     : 0 0 10px 5px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(0, 0, 0, .5); */
  display           : flex;
  flex-direction    : row;
  border-radius     : 32px;
  transition        : 0.3s ease-in-out;

  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  font-weight: 500;
}

#agent-inspector:hover {
  backdrop-filter   : blur(2px);
  /* box-shadow     : 0 0 5px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(0, 0, 0, .5); */
}

#agent-title {
  position           : fixed;
  font-size          : 24pt;
  color              : white;
  /* backdrop-filter : blur(10px); */
  /* background-color: rgba(122, 122, 122, 0.05); */
  width              : fit-content;
  padding            : 5px;
  margin             : 5px;
  border-radius      : 10px;
  user-select        : none;
  z-index            : 10;

  font-family: "CirrusCumulus";
}

#agent-portrait {
  height             : 100%;
  /* object-fit      : cover; */
  /* width           : 100%; */
  border-radius      : 30px;
  box-shadow         : inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter    : blur(10px);
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* padding         : 2% */
  ;
  cursor: pointer;
}

#agent-stats {
  position    : fixed;
  left        : 30vh;
  padding     : 10px;
  padding-top : 25px;
  color       : white;
  height      : 100%;
  width       : 60%;
  line-height : .7rem;
  user-select : none;
  box-sizing  : border-box;
  column-width: 20vw;
  column-count: 3;
  column-fill : auto;
}

#agent-defocus {
  appearance      : none;
  border          : unset;
  width           : 30px;
  height          : 30px;
  position        : fixed;
  top             : 0;
  right           : 0;
  border-radius   : 100px;
  background-color: rgba(255, 0, 0, 0.45);
  backdrop-filter : blur(10px);
}

#agent-defocus:hover {
  cursor          : pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

#agent-defocus:active {
  background-color: rgba(0, 0, 0, 0.7);
}

#agent-defocus::after {
  content         : "";
  position        : fixed;
  width           : 12px;
  height          : 2px;
  background-color: white;
  transform       : translate(-50%, -50%) rotate(45deg);
}

#agent-defocus::before {
  content         : "";
  position        : fixed;
  width           : 12px;
  height          : 2px;
  background-color: white;
  transform       : translate(-50%, -50%) rotate(-45deg);
}

.stat_bar {
  position: fixed;
  bottom  : 0;

  display         : block;
  border-radius   : 10px;
  margin          : 10px;
  width           : 21vh;
  /* transform    : translate(5%); */
  height          : 15px;
  text-align      : center;
  font-size       : 8pt;
  font-weight     : bold;
  color           : white;

  transform-origin: bottom left;
  transform       : rotate(-90deg);
}

.healthbar {
  left            : 24vh;
  background-color: red;
}

.hungerbar {
  left            : calc(23vh + 30px);
  background-color: brown;
}

#stats-button {
  appearance         : none;
  border             : unset;
  position           : absolute;
  /* width           : 40px; */
  height             : 30px;
  right              : -60px;
  top                : 50%;
  transform          : translate(0, -50%);
  border-radius      : 10px;
  cursor             : pointer;
  font-weight        : 400;
  transition         : .2s cubic-bezier(0.075, 0.82, 0.165, 1);


}


.claymorphic-button {
  backdrop-filter : blur(10px);
  background-color: rgba(255, 255, 255, .75);
  box-shadow      : inset -3px -3px 5px 0px rgba(0, 0, 0, .33), inset 3px 3px 5px 0px rgba(255, 255, 255, 0.2);
  transition      : .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border          : none;
}

.claymorphic-button:hover {
  background-color: rgba(255, 255, 255, .85);
  box-shadow      : inset 3px 3px 5px 0px rgba(0, 0, 0, 0.33), inset -3px -3px 5px 0px rgba(255, 255, 255, .2);
}

/* #stats-button::after {
  z-index               : -1;
  content               : "";
  border                : 2px solid white;
  border-width          : 4px 4px 0px 0px;
  position              : fixed;
  width                 : 20px;
  height                : 20px;
  left                  : 50%;
  bottom                : -15px;
  transform             : translate(-50%, -50%) rotate(135deg);
} */

#stats {
  /* margin         : 10px; */
  position          : fixed;
  width             : 400px;
  height            : 200px;
  top               : 1%;
  left              : 1%;
  backdrop-filter   : blur(10px);
  border-radius     : 15px;
  transition        : .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* overflow       : hidden; */
}

#stats:hover {
  backdrop-filter   : blur(5px);
  /* box-shadow     : 0 0 15px 5px rgba(0, 0, 0, 0.7), inset 0 0 10px 5px rgba(0, 0, 0, 0.4); */
}

.stats-hidden {
  left: -400px !important;
}

#stats-canvas {
  position     : fixed;
  width        : 100%;
  height       : 100%;
  overflow     : hidden;
  border-radius: 15px;
}

#stats-category-container {
  position: fixed;
  bottom  : 0;
  margin  : 7px;
}

#stats-selector {
  display         : inline;
  z-index         : 100;
  left            : 5px;
  /* appearance   : none; */
  border          : unset;
  border-radius   : 8px;
}

#stats-category {
  display: inline;
  color  : white;
  margin : 4px;
  z-index: 100;
  left   : 5px;
}

.claymorphic {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5),
    inset 7px 7px 14px 0px rgba(255, 255, 255, .3),
    inset -7px -7px 14px 0px rgba(0, 0, 0, 0.5);
}

.claymorphic:hover {
  /* box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5),
    inset -7px -7px 14px 0px rgba(255, 255, 255, .1),
    inset 7px 7px 14px 0px rgba(0, 0, 0, .5); */
}

#splash {
  position        : fixed;
  height          : auto;
  width           : 80%;
  top             : 40%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  z-index         : 100000;
  border-radius   : 50px;
  background-color: rgba(255, 255, 255, .01);
  backdrop-filter : blur(64px);

  color: white;
}

#splash-background {
  position  : fixed;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  z-index   : 10000;
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .94));
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#splash-title {
  position   : relative;
  font-family: CirrusCumulus;
  text-align : center;
  font-size  : 45pt;
  width      : 100%;
  padding    : 45pt;
  box-sizing : border-box;
  color      : white;
}

#splash-text {
  width                  : 100%;
  box-sizing             : border-box;
  padding                : 45pt;
  padding-top            : 5pt;
  color                  : white;
  font-variation-settings: "wght"100, "wdth"100, "opsz"13.8728, "GRAD"-156.25, "slnt"0, "XTRA"468, "XOPQ"123.2, "YOPQ"125.75, "YTLC"501.4, "YTUC"626.6, "YTAS"649, "YTDE"-207.146, "YTFI"738;
}

#splash-begin {
  position     : relative;
  left         : 50%;
  transform    : translate(-50%, 0);
  border-radius: 100px;
  appearance   : none;
  padding      : 10pt;
  margin-bottom: 45pt;
  cursor       : pointer;
}

@font-face {
  font-family: 'CirrusCumulus';
  src        : url("./rsc/fonts/CirrusCumulus.woff");
}

@font-face {
  font-family: "RobotoFlex";
  src        : url("./rsc/fonts/RobotoFlex.ttf");
}